@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
}

.blog-card {
  width: 90%;
  max-width: 1000px; 
  margin: 0 auto; 
  box-sizing: border-box;
  padding: 25px; 
  background-color: #ffffff; 
  border: 1px solid #e0e0e0; 
  border-radius: 8px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  margin-bottom: 20px;  
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}